.Register {
    border: solid blue 5px;
    padding: 5px;
}

.regInfo{
    Display: flex;
    Flex-direction: column; 
    justify-content: space-around ;
    width:40%; 
}

#registerBtn {
    background-color: #3C6EFD;
    text-align: center;
    color: rgb(251, 249, 249);  
    cursor: pointer;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    font-size: 20px;
}

input[type=text], input[type=number], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.toast {
    background: #D1E7DD;
    color: #2F6571;
    text-align: center;
    border-radius: 5px;
}

.Nav {
    border: solid red 5px;
}